---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Tags from '../../components/Tags.astro';
import Article from '../../components/Article.astro';
import Tweets from '../../components/Tweets.astro';
import { getAllPosts } from '../../lib/posts.js';

export async function getStaticPaths({ rss }) {
  const allPosts = (await getAllPosts())
    .filter((a) => new Date(a.date) <= new Date())
    .sort((a, b) => b.date.localeCompare(a.date));

  const allTags = [
    ...new Set(
      allPosts.reduce((prev, post) => {
        prev = prev.concat(post.tags);
        return prev;
      }, [])
    ),
  ];

  return allTags.map((tag) => {
    const postsForTag = allPosts.filter((post) => post.tags.includes(tag));
    return {
      params: { slug: tag },
      props: { allTags, postsForTag },
    };
  });
}

const { slug } = Astro.params;
const { allTags, postsForTag } = Astro.props;
---

<BaseLayout
  title={`Tag Archive ${slug}`}
  description={`I write daily ${slug} tips for you so you can become better as a developer. Learn with me by following my daily tips on topics as: ${slug}`}
>
  <header class="container mx-auto my-6">
    <h1 class="mb-8 text-4xl font-extrabold text-gray-900 dark:text-white">
      All {slug} tips to go from junior to web developer
    </h1>
  </header>

  <Tags />

  <section
    class="mb-10 -mx-4 bg-white border-t border-b border-gray-200 dark:bg-dark dark:border-slate-700"
  >
    <div class="container md:mx-auto">
      <div class="grid grid-cols-1 mx-0 md:-mx-4 md:grid-cols-2 md:py-4">
        {postsForTag.map((article) => <Article article={article} />)}
      </div>
    </div>
  </section>

  <Tweets />
</BaseLayout>
