---
import { getReadingTime } from '../lib/readingtime.js';
import {dateFilter} from '../lib/dateFilter.js';
const { article } = Astro.props;
---

<article
  class="group px-4 py-4 flex justify-between border-b md:border-0 border-gray-200 dark:border-slate-700 md:flex-col-reverse"
>
  <div class="flex flex-col flex-1">
    <a href={article?.url} class="flex-1">
      <h3
        class="leading-6 dark:text-white text-xl font-medium mb-2 transition-colors ease-in-out group-hover:text-barbie"
        set:html={article?.title}
     ></h3>
    </a>
    <p class="text-gray-500 dark:text-gray-400 mb-2">{article?.description}</p>
    <p class="text-sm text-gray-500 dark:text-gray-400 flex flex-wrap items-center">
      {dateFilter(article.date)} ·<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-5 w-5 mr-1 ml-1" viewBox="0 0 32 32"><path d="M 3 6 L 3 25 L 13 25 C 14.101563 25 15 25.898438 15 27 L 17 27 C 17 25.898438 17.898438 25 19 25 L 29 25 L 29 6 L 19 6 C 17.808594 6 16.734375 6.527344 16 7.359375 C 15.265625 6.527344 14.191406 6 13 6 Z M 5 8 L 13 8 C 14.101563 8 15 8.898438 15 10 L 17 10 C 17 8.898438 17.898438 8 19 8 L 27 8 L 27 23 L 19 23 C 17.808594 23 16.734375 23.527344 16 24.359375 C 15.265625 23.527344 14.191406 23 13 23 L 5 23 Z M 15 12 L 15 14 L 17 14 L 17 12 Z M 15 16 L 15 18 L 17 18 L 17 16 Z M 15 20 L 15 22 L 17 22 L 17 20 Z"/></svg>
      {getReadingTime(article?.astro?.html)}
    </p>
  </div>
  <a
    href={article?.url}
    class="flex-none ml-6 md:ml-0 h-24 md:h-auto w-24 md:w-auto aspect-none md:aspect-w-19 md:aspect-h-1 mb-0 md:mb-4"
  >
    <img
      class="drop-shadow rounded-lg transition-opacity h-full w-full group-hover:opacity-90 object-cover"
      alt={article?.title}
      src={article?.image ?? '/images/fallback.png'}
    />
  </a>
</article>
